SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/bookmanager
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=Teste123**
MYSQL_ROOT_PASSWORD=Teste123**
JWT_SECRET=-secreta-para-o-desafio-book-manager